{@java.lang.Boolean enabled}
{@java.lang.String dialog}
{@java.lang.String dialog-dismiss}
{@java.lang.String classes}
{@java.lang.String onclick}
{@java.lang.String color}
{@java.lang.String type}

{#let enabled?=true dialog?='' classes?='' dialog-dismiss?=false onclick?='' color?='blue' type?='button'}

{! class="bg-red-600 bg-red-700 hover:bg-red-700 focus:bg-red-700 active:bg-red-800" !}
{! class="bg-blue-600 bg-blue-700 hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800" !}

<button type="{type}"
    {#if dialog-dismiss}data-bs-dismiss="modal"{/if}
    {#if dialog}data-bs-target="#{dialog}" data-bs-toggle="modal"{/if}
    {#if onclick}onclick="{onclick}"{/if}
    {#if enabled}
        class="{#if classes}{classes}{/if} inline-block px-6 py-2.5 bg-{color}-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-{color}-700 hover:shadow-lg focus:bg-{color}-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-{color}-800 active:shadow-lg transition duration-150 ease-in-out"
    {#else}
        class="{#if classes}{classes}{/if} inline-block px-6 py-2.5 bg-{color}-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md focus:outline-none focus:ring-0 transition duration-150 ease-in-out pointer-events-none opacity-60" disabled
    {/if}
    >
    {nested-content}

</button>


{/let}
