{@java.lang.String form}
{@java.lang.String action}

{#let form?='' action?=''}

<div id="{id}" class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"  tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            {#if form}
                <form action="{action}" method="post" enctype="multipart/form-data">
            {/if}
            <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                {#insert header}
                    <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">{title}</h5>
                {/insert}
            </div>
            <div class="modal-body relative p-4">
                {#insert body}{/insert}
            </div>
            <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                {#insert footer}{#dialogCloseButton /}{/insert}
            </div>
            {#if form}</form>{/if}
        </div>
    </div>
</div>

{/let}
