{@java.lang.String rows}
{@java.lang.String placeholder}
{@java.lang.Boolean disabled}

{#let rows?='3' placeholder?='JSON parameters' disabled?=false}

<div class="form-group mb-6">
    <label for="{id}" class="form-label inline-block mb-2 text-gray-700">{title}</label>


    <textarea id="{id}"
            {#if disabled}
                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-gray-100 bg-clip-padding
                border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                readonly
            {#else}
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
                rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            {/if}

            rows="{rows}"
            placeholder="{placeholder}"
    >{value}</textarea>

</div>

{/let}