<li class="nav-item" role="presentation">
    <a href="#{id}" class="
      nav-link
      block
      text-sm
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
      {#if active}active{/if}
    " id="{id}-tab" data-bs-toggle="pill" data-bs-target="#{id}" role="tab" aria-controls="tabs-contact" aria-selected="{active}">
        {nested-content}
    </a>
</li>