{@java.lang.String dialog}
{@java.lang.Boolean enabled}

{#let dialog?='' enabled?=true}

<button type="button"
        {#if dialog}data-bs-target="#{dialog}" data-bs-toggle="modal"{/if}
        {#if enabled}
            class="mb-2 inline-block px-4 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        {#else}
            class="mb-2 inline-block px-4 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md focus:outline-none focus:ring-0 transition duration-150 ease-in-out pointer-events-none opacity-60" disabled
        {/if}
            >
    {nested-content}
</button>

{/let}