<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="w-full text-center">
                    <thead class="border-b bg-gray-200">
                        <tr>
                            {#insert header}{/insert}
                        </tr>
                    </thead>
                    <tbody>
                        {#insert body}no-header-defined{/insert}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>