{#tableCount id="def-msg-count" count=count description='message subscriptions'}{/tableCount}

{#table}
    {#header}
        {#tableHeader}Element Id{/tableHeader}
        {#tableHeader}Message Name{/tableHeader}
        {#tableHeader}State{/tableHeader}
        {#tableHeader}Time{/tableHeader}
        {#tableHeader}Actions{/tableHeader}
    {/header}
    {#body}
        {#for ms in messageSubscriptions}
            {#tableRow}
                {#tableCol}{#id}{ms.targetFlowNodeId}{/id}{/tableCol}
                {#tableCol}{ms.messageName}{/tableCol}
                {#tableCol}{ms.state}{/tableCol}
                {#tableCol}{ms.timestamp}{/tableCol}
                {#tableCol}
                    {#if ms.open}
                        {#tableButton dialog=str:format("ms-%s", ms.id)}Publish Message{/tableButton}
                    {/if}
                {/tableCol}
            {/tableRow}
        {/for}
    {/body}
{/table}

{#include message-subscriptions-dialogs  messageSubscriptions=messageSubscriptions /}
