{#include template}
    {#jumbotron}
        <div class="text-center bg-gray-50 text-gray-800 py-20 px-6">
            <h1 id="index-title" class="text-5xl font-bold mt-0 mb-6">Zeebe developer monitor</h1>
            <p class="text-xl font-light leading-relaxed mt-0 mb-4 text-gray-800">
                It is designed for developers to get in touch with Zeebe and workflow execution (BPMN), test workflows manually, provide insides on how workflows are executed.
            </p>
            <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 gap-4 pt-6">
                <div class="flex justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Process definition</h5>
                        <p class="text-gray-700 text-base mb-4">
                            Processes are flowchart-like blueprints that define the orchestration of tasks. Every task represents a piece of business logic so the ordered execution produces a meaningful result.
                            <a href="https://docs.camunda.io/docs/components/concepts/processes/" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="flex justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Process instances</h5>
                        <p class="text-gray-700 text-base mb-4">
                            Depending on the process definition, an instance of it can be created in several ways.
                            Camunda Platform supports the following ways to create a process instance
                            <a href="https://docs.camunda.io/docs/components/concepts/process-instance-creation/" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="flex justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Incidents</h5>
                        <p class="text-gray-700 text-base mb-4">
                            In Camunda Platform, an incident represents a problem in process execution. This means a
                            process instance is stuck at a particular point, and requires user interaction to resolve the problem.
                            <a href="https://docs.camunda.io/docs/components/concepts/incidents/" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="flex justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Jobs</h5>
                        <p class="text-gray-700 text-base mb-4">
                            A job worker is a service capable of performing a particular task in a process. Each time such a task needs to be performed, this is represented by a job.
                            <a href="https://docs.camunda.io/docs/components/concepts/job-workers/" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>


                <div class="flex justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Messages</h5>
                        <p class="text-gray-700 text-base mb-4">
                            Process instances can respond to incoming messages. Published messages must be mapped onto
                            a process instance. This step is called message correlation.
                            <a href="https://docs.camunda.io/docs/components/concepts/messages/" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="flex justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Errors</h5>
                        <p class="text-gray-700 text-base mb-4 ">
                            In process automation, you often encounter deviations from the default scenario. One way to resolve these deviations is using a BPMN error event, which allows a process model to react to errors within a task.
                            <a href="https://docs.camunda.io/docs/components/modeler/bpmn/error-events/" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    {/jumbotron}
{/include}
