{#tableCount id="instance-timer-count" count=count description='timers' /}

{#table}
    {#header}
        {#tableHeader}Element Id{/tableHeader}
        {#tableHeader}Element Instance Key{/tableHeader}
        {#tableHeader}Due Date{/tableHeader}
        {#tableHeader}Repetitions{/tableHeader}
        {#tableHeader}State{/tableHeader}
        {#tableHeader}Time{/tableHeader}
    {/header}
    {#body}
        {#for item in items}
            {#tableRow}
                {#tableCol}{#id}{item.targetElementId}{/id}{/tableCol}
                {#tableCol}{item.elementInstanceKey}{/tableCol}
                {#tableCol}{item.dueDate}{/tableCol}
                {#tableCol}{item.repetitions}{/tableCol}
                {#tableCol}{item.state}{/tableCol}
                {#tableCol}{item.timestamp}{/tableCol}
            {/tableRow}
        {/for}
    {/body}
{/table}

