{#tableCount id="instance-job-count" count=count description='jobs' /}

{#table}
    {#header}
        {#tableHeader}Element Id{/tableHeader}
        {#tableHeader}Element Instance Key{/tableHeader}
        {#tableHeader}Job Key{/tableHeader}
        {#tableHeader}Job Type{/tableHeader}
        {#tableHeader}Retries{/tableHeader}
        {#tableHeader}Job Worker{/tableHeader}
        {#tableHeader}State{/tableHeader}
        {#tableHeader}Time{/tableHeader}
        {#tableHeader}Actions{/tableHeader}
    {/header}
    {#body}
        {#for item in items}
            {#tableRow}
                {#tableCol}{#id}{item.elementId}{/id}{/tableCol}
                {#tableCol}{item.elementInstanceKey}{/tableCol}
                {#tableCol}{item.key}{/tableCol}
                {#tableCol}{item.jobType}{/tableCol}
                {#tableCol}{item.retries}{/tableCol}
                {#tableCol}{item.worker}{/tableCol}
                {#tableCol}{item.state}{/tableCol}
                {#tableCol}{item.timestamp}{/tableCol}
                {#tableCol}
                    {#if item.isActivatable}
                        {#tableButton dialog=str:format("job-complete-%s", item.key) }Complete{/tableButton}
                        {#tableButton dialog=str:format("job-fail-%s", item.key) }Fail{/tableButton}
                        {#tableButton dialog=str:format("job-throw-%s", item.key) }Throw Error{/tableButton}
                    {/if}
                {/tableCol}
            {/tableRow}
        {/for}
    {/body}
{/table}

{#for item in items}
    {#if item.isActivatable}
        {#dialog id=str:format("job-complete-%s", item.key) title='Complete Job'}
            {#body}
               {#formText id=str:format("job-complete-value-%s", item.key) title="Variables" value='' placeholder='{"param1":"value", "param2": 200 }' /}
            {/body}
            {#footer}
                {#dialogCloseButton /}
                {#button dialog-dismiss=true onclick=str:format("completeJob(%s,'job-complete-value-%s')", item.key, item.key)}Complete{/button}
            {/footer}
        {/dialog}
        {#dialog id=str:format("job-fail-%s", item.key) title='Fail Job'}
            {#body}
                {#formInput id=str:format("job-fail-retries-%s", item.key) title="Retries (default 0)" value='0' type='number' min='0' /}
                {#formInput id=str:format("job-fail-msg-%s", item.key) title="Error message" value='Failed by user.' /}
            {/body}
            {#footer}
                {#dialogCloseButton /}
                {#button color='red' dialog-dismiss=true onclick=str:format("failJob(%s, 'job-fail-msg-%s', 'job-fail-retries-%s')", item.key, item.key, item.key)}Fail{/button}
            {/footer}
        {/dialog}
        {#dialog id=str:format("job-throw-%s", item.key) title='Throw Error for Job'}
            {#body}
                    {#formInput id=str:format("job-throw-code-%s", item.key) title="Error code" value='' /}
                    {#formInput id=str:format("job-throw-msg-%s", item.key) title="Error message" value='Throw error by user.' /}
            {/body}
            {#footer}
                {#dialogCloseButton /}
                {#button color='red' dialog-dismiss=true onclick=str:format("throwError(%s, 'job-throw-msg-%s', 'job-throw-code-%s' )", item.key, item.key, item.key)}Throw Error{/button}
            {/footer}
        {/dialog}
    {/if}
{/for}