{#tableCount id="instance-call-count" count=count description='called processes' /}

{#table}
    {#header}
        {#tableHeader}Element Id{/tableHeader}
        {#tableHeader}Element Instance Key{/tableHeader}
        {#tableHeader}Called Process Instance Key{/tableHeader}
        {#tableHeader}Called BPMN process id{/tableHeader}
        {#tableHeader}Called Process Instance State{/tableHeader}
    {/header}
    {#body}
        {#for item in items}
            {#tableRow}
                {#tableCol}{#id}{item.elementId}{/id}{/tableCol}
                {#tableCol}{item.elementInstanceKey}{/tableCol}
                {#tableCol}
                    {#tableLink href=str:format("/instance/%s",item.key)}{item.key}{/tableLink}
                {/tableCol}
                {#tableCol}{item.bpmnProcessId}{/tableCol}
                {#tableCol}{item.state}{/tableCol}
            {/tableRow}
        {/for}
    {/body}
{/table}
