{#tableCount id="instance-variable-count" count=count description='variables' /}

{#table}
    {#header}
        {#tableHeader}Scope Key{/tableHeader}
        {#tableHeader}Element Id{/tableHeader}
        {#tableHeader}Variable Name{/tableHeader}
        {#tableHeader}Variable Value{/tableHeader}
        {#tableHeader}Time{/tableHeader}
        {#tableHeader}Actions{/tableHeader}
    {/header}
    {#body}
        {#for variable in variables}
            {#tableRow}
                {#tableCol}{variable.scopeKey}{/tableCol}
                {#tableCol}{#id}{variable.elementId}{/id}{/tableCol}
                {#tableCol}{variable.name}{/tableCol}
                {#tableCol}{variable.value}{/tableCol}
                {#tableCol}{variable.timestamp}{/tableCol}
                {#tableCol}
                    {#tableButton dialog=str:format("var-log-%s-%s", variable.scopeKey, variable.name)}Show History{/tableButton}
                    {#tableButton enabled=isRunning dialog=str:format("var-%s-%s", variable.scopeKey, variable.name)}Update{/tableButton}
                {/tableCol}
            {/tableRow}
        {/for}
    {/body}
{/table}

{#for variable in variables}
    {#dialog id=str:format("var-log-%s-%s", variable.scopeKey, variable.name) title=str:format("%s / %s", variable.scopeKey, variable.name)}
        {#body}
            {#table}
                {#header}
                    {#tableHeader}Time{/tableHeader}
                    {#tableHeader}Value{/tableHeader}
                {/header}
                {#body}
                    {#for item in variable.values}
                        {#tableRow}
                            {#tableCol}{item.timestamp}{/tableCol}
                            {#tableCol}{item.value}{/tableCol}
                        {/tableRow}
                    {/for}
                {/body}
            {/table}
        {/body}
    {/dialog}
    {#let d-id=str:format("%s-%s", variable.scopeKey, variable.name)}
    {#dialog id=str:format("var-%s", d-id) title='Update variable'}
        {#body}
            {#formInput id=str:format("var-key-%s", d-id) disabled=true title="Scope Key" value=variable.scopeKey /}
            {#formInput id=str:format("var-name-%s", d-id) disabled=true title="Name" value=variable.name /}
            {#formText id=str:format("var-value-%s", d-id) title="Value" value=variable.value placeholder='JSON parameter value' /}
        {/body}
        {#footer}
            {#dialogCloseButton /}
            {#button dialog-dismiss=true onclick=str:format("updateVariable(%s,'%s','var-value-%s')", variable.scopeKey, variable.name, d-id)}Update{/button}
        {/footer}
    {/dialog}
    {/let}
{/for}
