
{#table id="audit-log-table" page=true}
    {#header}
        {#tableHeader}Element Id{/tableHeader}
        {#tableHeader}Element Instance Key{/tableHeader}
        {#tableHeader}Flow Scope Key{/tableHeader}
        {#tableHeader}State{/tableHeader}
        {#tableHeader}Element Name{/tableHeader}
        {#tableHeader}BPMN Element Type{/tableHeader}
        {#tableHeader}Time{/tableHeader}
    {/header}
    {#body}
        {#for item in items}
            {#tableRow}
                {#tableCol}{#id}{item.elementId}{/id}{/tableCol}
                {#tableCol}{item.key}{/tableCol}
                {#tableCol}{item.flowScopeKey}{/tableCol}
                {#tableCol}{item.state}{/tableCol}
                {#tableCol}{item.elementName}{/tableCol}
                {#tableCol}{item.bpmnElementType}{/tableCol}
                {#tableCol}{item.timestamp}{/tableCol}
            {/tableRow}
        {/for}
    {/body}
{/table}
