{#include template}

    {#tableCount id="job-count" count=count description='open or error jobs'}{/tableCount}

    {#table}
        {#header}
            {#tableHeader}Job Key{/tableHeader}
            {#tableHeader}Job Type{/tableHeader}
            {#tableHeader}Process Instance Key{/tableHeader}
            {#tableHeader}Retries{/tableHeader}
            {#tableHeader}State{/tableHeader}
            {#tableHeader}Time{/tableHeader}
        {/header}
        {#body}
            {#for job in jobs}
                {#tableRow}
                    {#tableCol}{job.key}{/tableCol}
                    {#tableCol}{job.jobType}{/tableCol}
                    {#tableCol}
                        {#tableLink href=str:format("/instance/%s",job.processInstanceKey)}{job.processInstanceKey}{/tableLink}
                    {/tableCol}
                    {#tableCol}{job.retries}{/tableCol}
                    {#tableCol}{job.state}{/tableCol}
                    {#tableCol}{job.timestamp}{/tableCol}
                {/tableRow}
            {/for}
        {/body}
    {/table}

{/include}