{#for ms in messageSubscriptions}

    {#dialog id=str:format("ms-%s", ms.id) title='New Message'}
        {#body}
                {#formInput id=str:format("ms-name-%s", ms.id) disabled=true title="Message Name" value=ms.messageName /}
                {#formInput id=str:format("ms-key-%s", ms.id) title="Correlation Key" value=ms.correlationKey /}
                {#formText id=str:format("ms-value-%s", ms.id) title="Parameters" value='' placeholder='{"param1":"value", "param2": 200 }' /}
                {#formInput id=str:format("ms-time-%s", ms.id) title="Time to live (duration)" value='PT0S' /}
        {/body}
        {#footer}
                {#dialogCloseButton /}
            {#button dialog-dismiss=true onclick=str:format("publishMessageSubscription('ms-name-%s','ms-key-%s','ms-value-%s','ms-time-%s')", ms.id, ms.id, ms.id, ms.id)}
                Publish
            {/button}
        {/footer}
    {/dialog}

{/for}